<div class="row">
    <div class="col-xs-12 col-sm-8">
        <span class="correct" style="white-space: nowrap;">Status: {{level.correctAnswers}} korrekte Antworten</span>
        <span style="white-space: nowrap;">Ziel: {{level.overallUrlNumber}} korrekte Antworten</span>
    </div>

    <div class="col-xs-12 col-sm-4">
        <span class="remainingLives clearfix">
            <i class="fa fa-heart {{heart-1-class}}"></i>
            <i class="fa fa-heart {{heart-2-class}}"></i>
            <i class="fa fa-heart {{heart-3-class}}"></i>
        </span>
    </div>
</div>