<div id="register-standard">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{t 'register.standard.header.title'}}</h1>
            </div>
            <form {{action "register" on="submit"}}>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="form-group">
                      <label for="input-registration-email">
                        {{t 'register.body.email'}}
                          <button rel="tooltip" type="button" class="info-tooltip" data-toggle="tooltip" data-placement="bottom" title="{{t 'register.body.email.info'}}">i</button>
                      </label>
                      {{input type="email" value=email class="form-control" id="input-registration-email" placeholder=emailPlaceholder required="true" disabled=isProcessingInput}}
                      <!--<p class="help-block">{{!t 'register.body.email.info'}}</p>-->
                  </div>
                </div>
              </div>
              {{partial 'register/options'}}
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="form-group">
                    <label for="input-registration-password">
                      {{t 'register.standard.body.password'}}
                        <button rel="tooltip" type="button" class="info-tooltip" data-toggle="tooltip" data-placement="bottom" title="{{t 'register.standard.body.password.pattern'}}">i</button>
                    </label>
                    {{input type="password" value=password class="form-control" id="input-registration-password" placeholder=passwordPlaceholder required="true" disabled=isProcessingInput}}
                      <!--<p class="help-block">{{!t 'register.standard.body.password.pattern'}}</p>-->
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="form-group">
                        <label for="input-registration-password-repeat">{{t 'register.standard.body.password.repeat'}}</label>
                        {{input type="password" value=passwordRepeat class="form-control" id="input-registration-password-repeat" placeholder=passwordRepeatPlaceholder required="true" disabled=isProcessingInput}}
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4">
                    <button type="submit" class="btn btn-default btn-block" {{bind-attr disabled=isSubmitButtonClickable}}>{{t 'register.body.register'}}</button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>