<div id="dashboard">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{t 'dashboard.header.title'}}</h1>
            </div>
        </div>
    </div>

    <div id="dev-wrapper" class="hide">
        <button {{action 'unlockAll'}}>Unlock all levels</button>
        <button {{action 'unlockRetention'}}>Unlock Retentiontest</button>
    </div>

  {{#if showRetentionTestReminderOption}}
      <div class="row">
        <div class="col-xs-12">
            <p><b>{{t 'retentionTest.body.end.repeat'}}</b></p>
            <button {{action 'setRetentionTestReminder'}} class="btn btn-block btn-success">{{t 'retentionTest.body.end.repeat.button'}}</button>
        </div>
      </div>
      <hr/>
      <br/>
  {{/if}}

    <div class="row">
        {{#each model.levels as |level|}}
          {{dashboard-level level=level transitionToLevel='transitionToLevel'}}
        {{/each}}
    </div>

    <hr/>

    <div class="row">
        <div class="col-xs-12">
            <h1>Allgemein</h1>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-xs-12">
            Im Folgenden finden Sie die Links zum Vorabtest und zum Nachtest. Weiterhin empfehlen wir Ihnen ungefähr 4 Wochen nach Absolvierung des Nachtests die Durchführung des Wiederholungstests um das Gelernte wieder aufzufrischen und eventuelle Wissens-Lücken zu erkennen.<br /><br />
            <ul>
                <li>Quiz 1: <a href="https://www.soscisurvey.de/NoPhish-Survey/?q=Pre">Vorabtest zur Erhebung des aktuellen Wissenstands</a></li>
                <li>Quiz 2: <a href="https://www.soscisurvey.de/NoPhish-Survey/?q=Post">Direkt im Anschluss an NoPhish zur Erhebung des Lernerfolgs</a></li>
                <li>Quiz 3: <a href="https://www.soscisurvey.de/NoPhish-Survey/?q=Retention">Ca. 4 Wochen nach NoPhish</a></li>
            </ul>
        </div>
    </div>-->


    <div class="row">
      <!--
      {{dashboard-level level=preTestStatus additionalInformation=controllers.application.user.preTestDoneAtDate}}
      -->
      {{dashboard-level level=levelsStatus transitionToLevel='transitionToNextLevel'}}
      <!--
      {{dashboard-level level=postTestStatus transitionToLevel='transitionToPostTest' additionalInformation=controllers.application.user.postTestDoneAtDate}}
      -->
      {{dashboard-level level=certificateStatus transitionToLevel='transitionToCertificate'}}
      <!--
      {{dashboard-level level=retentionTestStatus transitionToLevel='transitionToRetentionTest' additionalInformation=controllers.application.user.retentionTestDoneAtDate}}
      -->
    </div>
</div>
