<div id="index">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{t 'default.application.name'}}   <small>{{t 'index.header.title.small'}}</small></h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h3>{{t 'index.body.columns.1.title'}}</h3>
                    {{t 'index.body.columns.1.content'}}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h3>{{t 'index.body.columns.4.title'}}</h3>
                    {{t 'index.body.columns.4.content'}}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h3>{{t 'index.body.columns.2.title'}}</h3>
                    {{t 'index.body.columns.2.content'}}
                </div>
            </div>
            <div class="row spacer">
                <div class="col-xs-12 col-sm-12 col-md-4">
                  {{#link-to 'login' class='btn btn-default btn-block'}}{{t 'components.nav-bar.login'}}{{/link-to}}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                  {{#link-to 'register' class='btn btn-default btn-block'}}{{t 'components.nav-bar.register'}}{{/link-to}}
                </div>
            </div>
        </div>
    </div>
</div>
