<div id="pretest">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{t 'postTest.header.title'}}</h1>
            </div>
            {{#if showStartDialog}}
                <div class="row">
                    <div class="col-xs-12">
                        <p>{{t 'postTest.body.start.continue.text'}}</p>
                        <button class='btn btn-default btn-block' {{action 'continuePreTest'}}>{{t 'postTest.body.start.continue.confirm'}} <span class="glyphicon glyphicon-menu-right"></span></button>
                    </div>
                </div>
            {{/if}}

            {{#if showPreTestQuestions}}
                <div class="row">
                    <div class="col-xs-12">
                      {{test-component test=model shuffledQuestions=shuffledQuestions answers=answers user=controllers.application.user didAllQuestions='submitPreTest'}}
                    </div>
                </div>
            {{/if}}

          {{#if showEndDialog}}
              <div class="row">
                  <div class="col-xs-12 col-md-6">
                      <!--<h3>Ergebnis</h3>-->
                      <!--<p>{{!controllers.application.user.postTestCorrectAnswers}} von {{!controllers.application.user.postTestTotalAnswers}} Fragen wurden richtig beantwortet.</p>-->
                      <!--{{!#if failedLevels.length}}-->
                          <!--<p>{{!t 'postTest.body.end.repeatLevels'}}</p>-->
                          <!--<ul>-->
                            <!--{{!#each failedLevel in failedLevels}}-->
                                <!--<li>{{!failedLevel.name}} ({{!failedLevel.theme}})</li>-->
                            <!--{{!/each}}-->
                          <!--</ul>-->
                      <!--{{!else}}-->
                        <!--{{!#if controllers.application.user.certificateUnlocked}}-->
                            <!--<p>{{!t 'postTest.body.end.certificateUnlocked.1'}} {{!#link-to 'certificate'}}Zertifikat{{!/link-to}} {!{t 'postTest.body.end.certificateUnlocked.2'}}</p>-->
                        <!--{{!/if}}-->
                      <!--{{!/if}}-->
                      {{#if lessThan75Percent}}
                        {{#if controllers.application.user.certificateUnlocked}}
                            <h3>{{t 'postTest.body.end.lessThan75Percent.caption.right'}}</h3>
                            <p>{{t 'postTest.body.end.result' actual=controllers.application.user.postTestCorrectAnswers total=controllers.application.user.postTestTotalAnswers}}</p>
                            <p>{{t 'postTest.body.end.lessThan75Percent.text.right.1'}} Zertifikat {{t 'postTest.body.end.lessThan75Percent.text.right.2'}}</p>
                        {{else}}
                            <h3>{{t 'postTest.body.end.lessThan75Percent.caption'}}</h3>
                            <p>{{t 'postTest.body.end.result' actual=controllers.application.user.postTestCorrectAnswers total=controllers.application.user.postTestTotalAnswers}}</p>
                            <p>{{t 'postTest.body.end.lessThan75Percent.text.1'}} Zertifikat {{t 'postTest.body.end.lessThan75Percent.text.2'}}</p>
                            {{#if failedLevels.length}}
                            <p>{{t 'postTest.body.end.repeat'}}</p>
                            <ul>
                              {{#each failedLevel in failedLevels}}
                                <li>{{failedLevel.name}} ({{failedLevel.theme}})</li>
                              {{/each}}
                            </ul>
                            {{/if}}
                        {{/if}}
                      {{else}}
                        {{#if lessThan90Percent}}
                          {{#if controllers.application.user.certificateUnlocked}}
                              <h3>{{t 'postTest.body.end.lessThan90Percent.caption.right'}}</h3>
                              <p>{{t 'postTest.body.end.result' actual=controllers.application.user.postTestCorrectAnswers total=controllers.application.user.postTestTotalAnswers}}</p>
                              <p>{{t 'postTest.body.end.lessThan90Percent.text.right.1'}} Zertifikat {{t 'postTest.body.end.lessThan90Percent.text.right.2'}}</p>
                          {{else}}
                              <h3>{{t 'postTest.body.end.lessThan90Percent.caption'}}</h3>
                              <p>{{t 'postTest.body.end.result' actual=controllers.application.user.postTestCorrectAnswers total=controllers.application.user.postTestTotalAnswers}}</p>
                              <p>{{t 'postTest.body.end.lessThan90Percent.text.1'}} Zertifikat {{t 'postTest.body.end.lessThan90Percent.text.2'}}</p>
                            {{#if failedLevels.length}}
                                <p>{{t 'postTest.body.end.repeat'}}</p>
                                <ul>
                                  {{#each failedLevel in failedLevels}}
                                      <li>{{failedLevel.name}} ({{failedLevel.theme}})</li>
                                  {{/each}}
                                </ul>
                            {{/if}}
                          {{/if}}
                        {{else}}
                          {{#if greaterThan90Percent}}
                            {{#if controllers.application.user.certificateUnlocked}}
                                <h3>{{t 'postTest.body.end.greaterThan90Percent.caption.right'}}</h3>
                                <p>{{t 'postTest.body.end.result' actual=controllers.application.user.postTestCorrectAnswers total=controllers.application.user.postTestTotalAnswers}}</p>
                                <p>{{t 'postTest.body.end.greaterThan90Percent.text.right.1'}} Zertifikat {{t 'postTest.body.end.greaterThan90Percent.text.right.2'}}</p>
                            {{else}}
                                <h3>{{t 'postTest.body.end.greaterThan90Percent.caption'}}</h3>
                                <p>{{t 'postTest.body.end.result' actual=controllers.application.user.postTestCorrectAnswers total=controllers.application.user.postTestTotalAnswers}}</p>
                                <p>{{t 'postTest.body.end.greaterThan90Percent.text.1'}} Zertifikat {{t 'postTest.body.end.greaterThan90Percent.text.2'}}</p>
                              {{#if failedLevels.length}}
                                  <p>{{t 'postTest.body.end.repeat'}}</p>
                                  <ul>
                                    {{#each failedLevel in failedLevels}}
                                        <li>{{failedLevel.name}} ({{failedLevel.theme}})</li>
                                    {{/each}}
                                  </ul>
                              {{/if}}
                            {{/if}}
                          {{else}}
                              <h3>{{t 'postTest.body.end.result100Percent.caption'}}</h3>
                              <p>{{t 'postTest.body.end.result' actual=controllers.application.user.postTestCorrectAnswers total=controllers.application.user.postTestTotalAnswers}}</p>
                              <p>{{t 'postTest.body.end.result100Percent.text.1'}} {{#link-to 'certificate'}}Zertifikat{{/link-to}} {{t 'postTest.body.end.result100Percent.text.2'}}</p>
                          {{/if}}
                        {{/if}}
                      {{/if}}
                  </div>
              </div>
              <div class="row spacer">
                  <div class="col-xs-12 col-md-6">
                      <button {{action 'toDashboard'}} class='btn btn-default btn-block'>Weiter <span class="glyphicon glyphicon-menu-right"></span></button>
                  </div>
              </div>
          {{/if}}
        </div>
    </div>
</div>